@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@300;400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Playfair+Display:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
} */

body {
  background: black;
  color: white;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.glow-overlay {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at center, rgba(155,17,30,0.5), black 70%);
}

@keyframes twinkle {
  0% {
    opacity: 0.2;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.3);
  }
  100% {
    opacity: 0.2;
    transform: scale(0.8);
  }
}

.animate-twinkle {
  animation: twinkle 3s infinite ease-in-out;
}

@keyframes fall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

.animate-fall {
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
